#header{
    color: teal;
    font-size: 100px;
    text-align: center;
}


/* this is paragraph style */
.paragraph{
    color: red;
 font-size: 4rex;   
 text-align: center;
}

/* this is for the button */
.button{
    height: 50px;
    width: 100px;
    font-weight: bold;
    font-size: 20px;
    color: hwb(0 0% 0%);
    border: 2px solid red ;
    border-radius: 10px;
    background-color: black;
cursor: pointer;
}

.button:hover{
    background-color: #fff;
    color: rgb(0, 8, 255);
    /* height: 500px;
    width: 1000px;
    font-size: 200px; */
}

/* .murkhbalak{
    
} */